<?xml version="1.0" encoding="ISO-8859-1"?>
<!--<?xml version="1.0" encoding="GB2312"?>-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
version="2.4">
<display-name>Servlet</display-name>
<description>
LogServerServlet
</description>
<servlet>
<init-param>
	<param-name>PATH</param-name>
	<param-value>./logs/</param-value>  
  </init-param> 
  <init-param>  
	<param-name>FILENAME</param-name>
	<param-value>RAWLOG</param-value> 
</init-param>

<servlet-name>LogServer</servlet-name>
<servlet-class>com.liu.servlets.LogServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LogServer</servlet-name>
<url-pattern>/receiver</url-pattern>
</servlet-mapping>
</web-app>
